body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url("./assets/bg.jpeg");
    object-fit: cover;
    background-position: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.buttles_wrapper {
    margin: 100px auto;
    width: 250px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.buttle {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 140px;
    width: 30px;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    box-sizing: border-box;
    padding-top: 8px;
}

.active {
    margin-bottom: 20px;
}